h1 { 
    color: rgb(145, 91, 91); 
}

img { 
    width: 2000px;
}

h2{
    color:blue; font-size: 50px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 60px;
    padding: 14px 40px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

