body{
    background-color: lightblue;
}









h1 { 
    color: rgb(145, 91, 91); 
    text-align: center;
}

img { 
    width: 2000px;
}

h2{
    color:blue; font-size: 50px;
    text-align: center;
}

p{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height:40px;
}

