body {
    margin: 0;
    padding: 0;
    background-image: url("static/Images/giphy.webp");
    background-size: cover;         /* Pour que l'image prenne tout l'écran */
    background-repeat: no-repeat;   /* Pour éviter la répétition */
    background-position: center;    /* Centrer l'image */
    height: 100vh;                  /* Hauteur totale de la fenêtre */
}


img { 
    width: 1000px;
    display: block;
    margin: 0 auto ;
}

h2{
    color:blue; font-size: 50px;
    text-align: center;
}

p{
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height:40px;
}

@keyframes neon-glow {
    0%, 100% {
      text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff;
    }
    50% {
      text-shadow: 0 0 20px #0ff, 0 0 30px #0ff, 0 0 40px #0ff;
    }
  }
  
  .neon-text {
    color: #fff;
    font-size: 48px;
    text-align: center;
    animation: neon-glow 1.5s infinite alternate;
  }

