<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle Page</title>
    <link rel="stylesheet" href="style_gallery.css">
</head>
<body>
    

     <h1>BIENVENUE CHEZ JACKY TUNING LAND </h1>

    <p>Vous trouverez les meilleures voitures du monde. 
     Pour faire drifter vos enfants comme GMK :</p>

    
    <div class="container">
        <img src="Images/aa5.jpg" class="photo">
        <img src="Images/téléchargement (1).jpeg" class="photo">
        <img src="Images/corvette.jpeg" class="photo">
        <img src="Images/bugatti.jpg" class="photo">
        <img src="Images/23.jpg" class="photo">
        <img src="Images/opo.jpg" class="photo">
    </div>

    <a href="index.html" class="retour">Retour à la page d'accueil</a>

</body>
</html>

