
  <!DOCTYPE html>
  <html lang="fr">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mon histoire web</title>
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
  
    <h1>WELCOME TO VROUM VROUM LAND</h1>
  
      <h2> COMING SOON </h2>
  
      <p>Ce site est conçu pour ceux qui aiment mettre la GOMME !! <BR>
        Découvrez notre collection unique et partagez votre amour pour les V8 et le cuire qui colle.</p>
        <div class="container">
          <a href="{{ url_for('page_gallery')}}">
          <button>Page suivante</button></a>
        </div>

      <img src="{{url_for('static', filename ='Images/nissan_gtr.png')}}">
      
        
      
    
  
  
  </body>
  </html>
  